<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991573388326-vn271kdku73l0glj98ig8f8opt730urm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991573388326-vn271kdku73l0glj98ig8f8opt730urm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>991573388326-82m0eb3l6mi1k7jvnqdahh6u53lu21b1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASFirLNBe0tA_06FHkO8xJdAydg1-41ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>991573388326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufoelektronika.consumer.dev</string>
	<key>PROJECT_ID</key>
	<string>ufoe-85428</string>
	<key>STORAGE_BUCKET</key>
	<string>ufoe-85428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991573388326:ios:7cd5bb3b89d1ff1157cae7</string>
</dict>
</plist>